body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0077cc;
    color: white;
    padding: 10px;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2em;
}

.timeline {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 0 10px;
}

.line {
    position: absolute;
    left: 50%;
    width: 2px;
    background-color: #333;
    height: 100%;
    transform: translateX(-50%);
}

.event {
    position: relative;
    margin: 20px 0;
    display: flex;
    justify-content: flex-end;
}

.event.left {
    flex-direction: row-reverse;
}

.event.right {
    flex-direction: row;
}

.event .date {
    width: 100px;
    text-align: center;
    font-weight: bold;
    background-color: #f4f4f4;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.event .content {
    max-width: 400px;
    padding: 15px;
    border: 1px solid #ddd;
    background-color: #fff;
    position: relative;
    border-left: 5px solid;
}

.event .content.exp {
    border-color: #0077cc;
}

.event .content.diploma {
    border-color: #ff6600;
}

.event.left .date {
    margin-right: 100px;
}

.event.right .date {
    margin-left: 100px;
}


footer {
    background-color: #0077cc;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer li {
    display: inline;
    margin: 0 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

.image-quote-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f9f9f9;
    margin: 20px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 90%;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.quote-container {
    flex: 1;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    font-style: italic;
    color: #555;
}

.quote-container blockquote {
    margin: 0;
    padding: 0;
    border-left: 4px solid #0077cc;
    padding-left: 15px;
    color: #333;
}
